padding-top: (@paddingTop * 1rem);
padding-bottom: (@paddingBottom * 1rem);
& when (@bg-type = "color") {
  background-color: if(@transparentBg, transparent, @bg-value);
}
& when (@bg-type = 'image') {
  background-image: url(@bg-value);
}
.mbr-fallback-image.disabled {
  display: none;
}
.mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  & when (@bg-type = 'video') {
    background-image: url(@fallBackImage);
  }
}
.title-wrapper {
  position: sticky;
  top: 40px;
  @media (max-width: 992px) {
    position: static;
    margin-bottom: 40px;
  }
  .mbr-label {
    margin-bottom: 20px;
  }
  .mbr-section-title {
    margin-bottom: 20px;
  }
  .text-wrapper {
    .mbr-text {
      margin-bottom: 0;
    }
  }
}
.panel-group {
  .card {
    position: relative;
    padding: 8px;
    background-color: @cardBg_1;
    border: none;
    margin-top: 16px;
    &:first-child {
      margin-top: 0;
    }
    @media (max-width: 992px) {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
    .card-header {
      background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 0;
      .panel-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 16px;
        @media (max-width: 992px) {
          padding: 20px;
        }
        .panel-title-edit {
          margin-bottom: 0;
          transition: all 0.3s ease-in-out;
        }
        .icon-wrapper {
          width: 22px;
          height: 22px;
          min-width: 22px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-left: 12px;
          transition: all 0.3s ease-in-out;
          border: 1px solid @icon;
          border-radius: 100%;
          .mbr-iconfont {
            font-size: 12px;
            margin-top: 2px;
            transition: all 0.3s ease-in-out;
            color: @icon;
          }
        }
        &:not(.collapsed) {
          .icon-wrapper {
            transform: rotate(-180deg);
          }
        }
      }
    }
    .panel-collapse {
      .panel-body {
        margin-top: 8px;
        padding: 24px;
        background-color: @cardBg_2;
        @media (max-width: 992px) {
          padding: 20px;
        }
        .panel-text {
          margin-bottom: 0;
        }
      }
    }
  }
}
.mbr-label {
  color: #4D4932;
}
.mbr-section-title {
  color: #000000;
}
.mbr-text, .text-wrapper {
  color: #6c7179;
}
.panel-title-edit {
  color: #000000;
}
.panel-text {
  color: #6c7179;
}
.panel-text, .panel-body {
  color: #000000;
}
